body {
    margin: 0;
    padding: 0;
    font-family: georgia, "times new roman", serif;
    font-size: 20px;
    color: black;
    background-image: url(../images/prism.png);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}
html {
    display: block;
}

.header {
    background-color: #ffffff;
    border-bottom: solid 2px black;
    width: 100%;
    height: 90px;  
    margin-bottom: 30px; 
    color: black;   
}

#name {    
    width: 350px;
    height: 90px;
    margin-left: 200px;
    padding:20px 15px;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    color: Black;
    background-color: #353535;
    float: left;
    position: relative;
    top: 0px;
}

li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
    margin-top: 28px;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: block;
    position: relative;
    right: -350px;
    border-right: 1px solid black;
}

li:last-child {
    border-right: none;
}

a {
    text-decoration: none;
    color: black;
    transition: background-color .5s;
    
}

a:hover {
    text-decoration: underline;
    background-color: grey;
}

a:active {
    padding: 8px;
    text-decoration: none;
}

.about, .header, .portfolio-body, .contact-body {
    clear: both;
}

.about {
    width: 960px;
    margin: auto;
    overflow: scroll;
    height: 450px;
    margin-left: 200px;
    padding: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

 #about-me,
 #portfolio-title,
 #contact {
    width: 96%;
    color: black;
    border-bottom: solid 2px black;
    padding-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
}

#my-picture {
    margin-right: 20px;
    float: left;
}

p {
    line-height: 150%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-sizing: border-box
}

footer {
    clear: both;
    width: 100%;
    height: 60px;
    border-top: black solid 2px;
    background-color: #353535;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.portfolio-body {
    width: 960px;
    height: 450px;
    margin-left: 200px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    position: relative;
}

.contact-body {
    width: 960px;
    height: 455px;
    margin-left: 200px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    position: relative;
}

.picture1 p{
    width: 100%;
    background-color: rgba(160, 160, 160, .6);
    text-align: center;
    padding: 12px;
    font-weight: bold; 
    position: absolute;
    bottom: 0px;
}

.picture1 {
    position: relative;
    display: inline-block;
    margin: 15px;
}

.picture1 img {
    height: 150px;
}

.form {
    margin-left: 20px;
    line-height: 30px;
}

#your-name,
#email {
    line-height: 20px; 
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: grey;
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 06px;
    width: 135px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
  }

  textarea {
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
